* {
    margin: 50px;
    padding: 20px;
    background-color: bisque
}

.card {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;


}


#title {
    text-align: center;
    background-color: white;
    font-size: 5rem;

}

button {
    font-size: 23px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight:  bold;
    cursor: pointer;
}

#increment {
    background-color: lightgreen;
}

#reset {
    background-color: rgb(240, 240, 161);
}

#decrement {
    background-color: #FF7F7F ;
}