body {
  background-color: black;
  margin: 0;
  position: relative;

}

.container {
  border-radius: 20px;
  width: 25%;
  height: 40vh;
  padding: 40px;
  position: absolute;
  top: 600%;
  left: 40%;
  background-color: lightblue;
  margin-top: 250px;



}
#title{
  color:white;
  font-size:3.5em;
  position: absolute;
  top: 120px;
  left: 550px;
  width: 100%;


}

.first-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  align-items: center;
}

.first-row #display {
  color: black;
  font-size: 40px;
  padding: 5px 10px;
  width: 69%;
  background-color:white;
  text-align: right;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  border:none;
  
}

.second-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 20px;

}

.third-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 20px;

}

.fourth-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 20px;

}

.fifth-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 30px;


}

button {
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}